# Ignore build artifacts
build/
dist/
target/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore editor-specific files
.idea/
.vscode/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency directories
node_modules/

# Ignore log files
*.log

# Ignore OP25-specific files
op25/gr-op25/build/
op25/gr-op25_repeater/build/
op25/gr-op25/python/op25/bindings/
op25/gr-op25_repeater/python/op25_repeater/bindings/
op25/gr-op25/lib/qa_op25
op25/gr-op25_repeater/lib/qa_op25_repeater
op25/gr-op25/apps/qa_op25_apps
op25/gr-op25_repeater/apps/qa_op25_repeater_apps
op25/gr-op25/docs/doxygen/xml/
op25/gr-op25_repeater/docs/doxygen/xml/
op25/gr-op25/grc/op25.xml
op25/gr-op25_repeater/grc/op25_repeater.xml
op25/gr-op25/cmake/Modules/gnuradio-op25Config.cmake
op25/gr-op25_repeater/cmake/Modules/gnuradio-op25_repeaterConfig.cmake
op25/gr-op25/cmake/cmake_install.cmake
op25/gr-op25_repeater/cmake/cmake_install.cmake
op25/gr-op25/cmake/CTestTestfile.cmake
op25/gr-op25_repeater/cmake/CTestTestfile.cmake
op25/gr-op25/cmake/install_manifest.txt
op25/gr-op25_repeater/cmake/install_manifest.txt
op25/gr-op25/python/op25/__init__.pyc
op25/gr-op25_repeater/python/op25_repeater/__init__.pyc
op25/gr-op25/python/op25/bindings/op25_python.py
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_python.py
op25/gr-op25/python/op25/bindings/op25_python.pyc
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_python.pyc
op25/gr-op25/python/op25/bindings/_op25_swig.so
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig.so
op25/gr-op25/lib/libgnuradio-op25.so
op25/gr-op25_repeater/lib/libgnuradio-op25_repeater.so
op25/gr-op25/lib/libgnuradio-op25.so.*
op25/gr-op25_repeater/lib/libgnuradio-op25_repeater.so.*
op25/gr-op25/lib/Makefile
op25/gr-op25_repeater/lib/Makefile
op25/gr-op25/lib/CMakeFiles/gnuradio-op25.dir/
op25/gr-op25_repeater/lib/CMakeFiles/gnuradio-op25_repeater.dir/
op25/gr-op25/lib/CMakeFiles/test-op25.dir/
op25/gr-op25_repeater/lib/CMakeFiles/test-op25_repeater.dir/
op25/gr-op25/python/op25/bindings/CMakeFiles/_op25_swig_swig_tag.dir/
op25/gr-op25_repeater/python/op25_repeater/bindings/CMakeFiles/_op25_repeater_swig_swig_tag.dir/
op25/gr-op25/python/op25/bindings/CMakeFiles/op25_swig_gr_op25_bindings_swig_35343.dir/
op25/gr-op25_repeater/python/op25_repeater/bindings/CMakeFiles/op25_repeater_swig_gr_op25_repeater_bindings_swig_35343.dir/
op25/gr-op25/python/op25/bindings/CMakeFiles/pygen_op25_python_op25_bindings_42e97.dir/
op25/gr-op25_repeater/python/op25_repeater/bindings/CMakeFiles/pygen_op25_repeater_python_op25_repeater_bindings_42e97.dir/
op25/gr-op25/python/op25/bindings/op25_swig.py
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig.py
op25/gr-op25/python/op25/bindings/op25_swig.pyc
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig.pyc
op25/gr-op25/python/op25/bindings/op25_swig_doc.i
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_doc.i
op25/gr-op25/python/op25/bindings/op25_swig_gr_op25_bindings.cpp
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_gr_op25_repeater_bindings.cpp
op25/gr-op25/python/op25/bindings/op25_swig_gr_op25_bindings.lo
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_gr_op25_repeater_bindings.lo
op25/gr-op25/python/op25/bindings/op25_swig_gr_op25_bindings.o
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_gr_op25_repeater_bindings.o
op25/gr-op25/python/op25/bindings/_op25_swig.la
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig.la
op25/gr-op25/python/op25/bindings/_op25_swig.so
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig.so
op25/gr-op25/python/op25/bindings/cmake_install.cmake
op25/gr-op25_repeater/python/op25_repeater/bindings/cmake_install.cmake
op25/gr-op25/python/op25/bindings/CTestTestfile.cmake
op25/gr-op25_repeater/python/op25_repeater/bindings/CTestTestfile.cmake
op25/gr-op25/python/op25/bindings/Makefile
op25/gr-op25_repeater/python/op25_repeater/bindings/Makefile
op25/gr-op25/python/op25/bindings/_op25_swig_swig_tag.cpp
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig_swig_tag.cpp
op25/gr-op25/python/op25/bindings/_op25_swig_swig_tag.lo
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig_swig_tag.lo
op25/gr-op25/python/op25/bindings/_op25_swig_swig_tag.o
op25/gr-op25_repeater/python/op25_repeater/bindings/_op25_repeater_swig_swig_tag.o
op25/gr-op25/python/op25/bindings/pygen_op25_python_op25_bindings_42e97.py
op25/gr-op25_repeater/python/op25_repeater/bindings/pygen_op25_repeater_python_op25_repeater_bindings_42e97.py
op25/gr-op25/python/op25/bindings/pygen_op25_python_op25_bindings_42e97.pyc
op25/gr-op25_repeater/python/op25_repeater/bindings/pygen_op25_repeater_python_op25_repeater_bindings_42e97.pyc
op25/gr-op25/python/op25/bindings/op25_swig_doc.h
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_doc.h
op25/gr-op25/python/op25/bindings/op25_swig_doc_swig_docs/
op25/gr-op25_repeater/python/op25_repeater/bindings/op25_repeater_swig_doc_swig_docs/
*.o
*.lo
*.la
*.so
*.so.*
Makefile
cmake_install.cmake
CTestTestfile.cmake
install_manifest.txt
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
DartConfiguration.tcl
testing/
*.deb
*.rpm
*.tar.gz
*.zip
*.7z
*.rar
op25/gr-op25/apps/.ipynb_checkpoints/
op25/gr-op25_repeater/apps/.ipynb_checkpoints/
op25/gr-op25_repeater/apps/test_keys.json
